<section class=" gradient-custom">
  <div class="container vh-100 py-3 ">
    <div class="row justify-content-center align-items-center ">
      <div class="col-lg-12"  id="colwidth">
        <div class="card card-registration w-50 " id="back" style="border-radius: 19px; margin-top: 15%;">
          <div class="card-body">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center"> LOGIN HERE !</h3>
            <form class="text-center" [formGroup]="logdata">
              <div class="col-md-9 ">
                <div class="form-outline">
                  <input type="email" name="email" class="form-control " formControlName="email"
                    placeholder="Enter Email" id="inputpattern" />
                </div>
                <div class="form-outline">
                  <input type="password" id="lastName" class="form-control mt-4 " placeholder="Enter Password"
                    formControlName="password" id="inputpattern" />
                </div>
              </div>
              <div class="row">
                <div class="col-lg-9 ">
                  <div class="mt-4 ms-5 ">
                    <input class="btn btn-dark btn-lg" type="submit" value="Submit" id="button" [disabled]="!logdata.valid" (click)="logindata(logdata.value)" />
                    <a routerLink="register" class=" btn btn-dark btn-lg " id="button"> Register</a>
                    <!-- <input class="btn btn-dark ms-5 btn-lg" type="submit" value="Submit" (click)="registerdata(logdata.value)" /> -->

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="wrapper">

  <div class="text-center mt-4 name head">
    Login Page
  </div>
  <form class="p-3 mt-3"  >
      <div class="form-field d-flex align-items-center">
          <input type="text" name="userName" id="userName" placeholder="Username" formControlName="username">
      </div>
      <div class="form-field d-flex align-items-center">
          <input type="password" name="password" id="pwd" placeholder="Password"formControlName="password">
      </div>
      <button class="btn mt-3" >Login</button>
  </form>

</div> -->
