#cont{
  height: 600px;
  margin-bottom: auto;

}
.btns{
  text-align:center;
}
.light-theme {
  background: linear-gradient(to top right, #33ccff 0%, #ff99cc 100%);
  color: black;
  transition: 0.7s;
}

.dark-theme{
  background-color: black;
  color: white;
  transition: 0.7s;

}
